*{
    padding : 0;
    margin : 0;
}

body {
    background-color: blanchedalmond;
    font-family:cursive;

}

/* ***********Score********** */
.score{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    background-color: #093FB4;
    color: azure;
    font-size: medium;
    font-weight: 500;
}

.your-score{
    color: yellow;
}

.comp-score{
    color: red;
}

/* ***********Game Title********** */
.game-tag{
    text-align: center;
    padding: 40px 0;
    font-weight: bold;
}

/* ***********symbols********** */
.symbols{
    display : flex;
    justify-content: center;
    align-items: center;
}

.symbol{
    padding : 40px; 
    font-size: 60px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
    border: none;
}

.symbol:hover{
    opacity: 0.8;
}

#rock{
    background-color: #ED3500;
}

#paper{
    background-color: #093FB4;
}

#scissors{
    background-color: #06923E;
}

/* ***********Result********** */

.result{
    font-weight: bold;
    padding: 40px 0;
    text-align: center;
    font-size: 30px;
}